body{

    background-color: darkgreen;
}

#mainStation{
    position: absolute;
    top: 40px;
    left: 15px;
    width: 7%;
    z-index: 0;
}

#first-switch{
    position: absolute;
    top: 258px;
    left: 24px;
    width: 68px;
    z-index: 0;
}

#second-switch{
    position: absolute;
    top: 200px;
    left: 193px;
    width: 68px;
    z-index: 0;
}
#third-switch{
    position: absolute;
    top: 21px;
    left: 500px;
    width: 68px;
    z-index: 0;
}
#fourth-switch{
    position: absolute;
    top: 393px;
    left: 320px;
    width: 68px;
    z-index: 0;
}

#fifth-switch{
    position: absolute;
    top: 393px;
    left: 580px;
    width: 68px;
    z-index: 0;
}

#sixth-switch{
    position: absolute;
    top: 197px;
    left: 700px;
    width: 68px;
    z-index: 0;
}
#first-station{

    position: absolute;
    top: 21px;
    left: 1010px;
    width: 5%;
    z-index: 1000;

}
#second-station{

    position: absolute;
    top: 393px;
    left: 1000px;
    width: 5%;
    z-index: 1000;

}

#third-station{

    position: absolute;
    top: 520px;
    left: 100px;
    width: 5%;
    z-index: 1000;

}
#fourth-station{

    position: absolute;
    top: 530px;
    left: 580px;
    width: 5%;
    z-index: 1000;

}
#fifth-station{

    position: absolute;
    top: 120px;
    left: 502px;
    width: 5%;
    z-index: 1000;

}

#sixth-station{

    position: absolute;
    top: 128px;
    left: 700px;
    width: 5%;
    z-index: 1000;

}
#seventh-station{

    position: absolute;
    top: 190px;
    left: 1000px;
    width: 5%;
    z-index: 1000;

}